[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "blacklist"

[packages]
wheel = "*"
flask = "*"
marshmallow = "*"
python-abc = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pytz = "*"
faker = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
requests= "*"
pytest = "*"
pytest-cov = "~=4.0.0"
pytest-mock = "~=3.10.0"
pytest-env = "~=0.8.1"


